<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tao Te Ching</title>
  <meta name="description" content="Tao Te Ching is an ancient Chinese book written by the philosopher Lao Tzu. Translation by Stephen Mitchell. Site design by Brendan Sparrow">
  <link rel="stylesheet" href="css/style.css">

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#e6610b">
	<meta name="apple-mobile-web-app-title" content="Dao">
	<meta name="application-name" content="Dao">
	<meta name="msapplication-TileColor" content="#ebebeb">
	<meta name="theme-color" content="#ffffff">

	<!-- Add to home screen -->
	<meta name="mobile-web-app-capable" content="yes">

	<meta property="og:url" content="https://tao.brendansparrow.com/">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Tao Te Ching">
	<meta property="og:image" content="https://tao.brendansparrow.com/images/tao-te-ching.png">
	<meta property="og:description" content="Tao Te Ching is an ancient Chinese book written by the philosopher Lao Tzu. Translation by Stephen Mitchell. Site design by Brendan Sparrow">
	<meta property="og:site_name" content="Tao Te Ching">
	<meta property="og:locale" content="en_GB">
	<meta property="article:author" content="Brendan Sparrow">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@brendansparrow">
	<meta name="twitter:creator" content="@brendansparrow">
	<meta name="twitter:url" content="https://tao.brendansparrow.com">
	<meta name="twitter:title" content="Tao Te Ching">
	<meta name="twitter:description" content="Tao Te Ching is an ancient Chinese book written by the philosopher Lao Tzu. Translation by Stephen Mitchell. Site design by Brendan Sparrow">
	<meta name="twitter:image" content="https://tao.brendansparrow.com/images/tao-te-ching.png">

</head>
<body>
  <div id="app">
    <header>
      <h1>{{ pageTitle}}</h1>
      <p>Read this ancient Chinese classic both online and offline. <a id="info-link" href="#information" role="button" title="Read introduction"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><path fill="#AAA" fill-rule="nonzero" d="M10 0C4.48 0 0 4.48 0 10s4.48 10 10 10 10-4.48 10-10S15.52 0 10 0zm1 15H9V9h2v6zm0-8H9V5h2v2z"/></svg></a></p>
    </header>
    {% include nav.liquid %}
    <main>
      {{ content }}
    </main>
    <footer>
    	<section id="information">
    		<h2>About</h2>
				<p>Tao Te Ching 道德經 , which can be trans­lated as “The Way of Life” and is pronounced Dao De Jing, is an ancient book written by Lao Tzu, a sage and his­to­rian who lived around the 4th Century BC.</p>
    		<p>The book is im­por­tant in Eastern culture, particularly in Chinese phi­los­o­phy and re­li­gion where it is foundational to a number of philosophical schools, most famously, Taoism.</p>
    		<p>Wisdom from Lao Tzu. Translation by Stephen Mitchell.<br />Design by <a href="https://www.brendansparrow.com">Brendan Sparrow</a>. This website uses your browser’s local cache to allow for both online and offline reading with no need for an internet connection.</p>
    		<a href="#info-link">Back to top</a>
    	</section>
    </footer>
  </div>

  <script src="js/index.js"></script>
  <script src="upup.min.js"></script>
  <script>
  UpUp.start({
    'content-url': 'offline.html',
    'assets': ['/favicon.ico', '/css/style.css', 'images/tao-te-ching.webp', 'js/index.js']
  });
  </script>
</body>
</html>
