<nav id="main-navigation" class="navigation">
	<span>Jump to verse</span>
	<ol class="nav">
	<li class="nav-item"><a class="nav-link current" href="#section-1" aria-current="true">1</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-2">2</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-3">3</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-4">4</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-5">5</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-6">6</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-7">7</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-8">8</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-9">9</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-10">10</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-11">11</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-12">12</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-13">13</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-14">14</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-15">15</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-16">16</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-17">17</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-18">18</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-19">19</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-20">20</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-21">21</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-22">22</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-23">23</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-24">24</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-25">25</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-26">26</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-27">27</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-28">28</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-29">29</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-30">30</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-31">31</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-32">32</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-33">33</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-34">34</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-35">35</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-36">36</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-37">37</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-38">38</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-39">39</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-40">40</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-41">41</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-42">42</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-43">43</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-44">44</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-45">45</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-46">46</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-47">47</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-48">48</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-49">49</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-50">50</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-51">51</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-52">52</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-53">53</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-54">54</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-55">55</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-56">56</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-57">57</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-58">58</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-59">59</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-60">60</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-61">61</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-62">62</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-63">63</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-64">64</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-65">65</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-66">66</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-67">67</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-68">68</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-69">69</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-70">70</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-71">71</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-72">72</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-73">73</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-74">74</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-75">75</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-76">76</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-77">77</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-78">78</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-79">79</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-80">80</a></li>
	<li class="nav-item"><a class="nav-link" href="#section-81">81</a></li>
  </ol>
</nav>
